.container{
    width: 70%;
    height: 500px;
    margin: 50px auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 50px;
}
.formGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.log-btn{
    border: none;
    background-color: none;
    padding: 10px;
    border: 2px solid rgb(0, 136, 255);
    border-radius: 5px;
}